@media (max-width: 600px) {

    /* SetUpMenu Component - mobile */

    .container_setup .container_box{
        grid-template-rows: 2fr 0.2fr !important;
    }

    .container_box .box__header{
        grid-row-start: 2 !important;
        grid-row-end: 3;
    }

    .container_box .main__card{
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .container_box .main__container{
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /* NavBar Component - mobile */
    .navBar__container-setup {
        display: none;
    }

    .navBar__container-all {
        border: none;
        border-top: 1px solid var(--color-rgba-border);
        width: 100%;
        height: 100%;
    }

    
    .navBar__container-all .navBar__container-mobile{
        /* revisar el position */
        display: block;
        /* border: 2px solid blueviolet; */
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .navBar__container-mobile .navBar__container-button-list {
        /* position: relative; */
        width: 90%;
        height: 4.4rem;
        display: flex;
        background: var(--color-black);
        justify-content: center;
        align-items: center;
        border: 2px solid var(--color-ligth);
        border-radius: 0.8rem;
    }

    .navBar__container-button-list ul{
        position: relative;
        display: flex;
        width: 100%;
    }

    .navBar__container-button-list ul .button__item-li{
        position: relative;
        width: 100%;
        height: 4rem;
        z-index: 1;
         /* border: 2px solid yellow;  */
    }

    .navBar__container-button-list ul .button__item-li .item-li{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;
        /* border: 2px solid red;  */
    }

    .navBar__container-button-list .button__item-li .item-li .icon{
        position: relative;
        display: block;
        bottom: 0.6rem;


        font-size: 1.5rem;
        text-align: center;
        transition: 0.5s;
        color: var(--color-ligth);
        width: 2.4rem;
        height: 2.4rem;
    }

    .navBar__container-button-list ul li.active .item-li .icon{
        transform: translateY(-18px);
    }

    .navBar__container-button-list ul .button__item-li .item-li .icon img{
        width: 100%;
        height: 100%;
    }

    .navBar__container-button-list ul .button__item-li .item-li .text{
        position: absolute;
        color: var(--color-ligth);
        font-weight: 400;
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(20px);
    }

    .navBar__container-button-list ul li.active .item-li .text{
        opacity: 1;
        transform: translateY(10px);
    }

    .navBar__container-button-list ul .indicator {
        position: absolute;
        top: -50%;
        left: 7.8%;
        width: 4rem;
        height: 4rem;
        background: var(--color-black);
        border-radius: 50%;
        border: 0.5rem solid var(--color-ligth);
        /* backdrop-filter: blur(3px); */
        transition: 0.5s;
    }

    .navBar__container-button-list ul .indicator::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -72%;
        width: 21px;
        height: 14px;
        background: transparent;
        border-top-right-radius: 21px;
        /*En el color del boxshadow , debe de ir el color del background, o se al rgba del containerbox
        igual que el color de borde alrededor del circulo
        */
        box-shadow: 0.3rem -0.2rem 0 0rem var(--color-ligth);
    }

    .navBar__container-button-list ul .indicator::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -74%;
        width: 21px;
        min-width: 12px;
        height: 14px;
        background: transparent;
        border-top-left-radius: 21px;
        box-shadow: -0.3rem -0.2rem 0rem 0rem  var(--color-ligth);
    }

    .navBar__container-all .switch{
        left: calc(50% + 40%);
        /* bottom: 2.4rem; */
    }

}

@media (max-width: 475px) {
    .navBar__container-button-list ul .indicator{
        left: 6%;
    }
}

@media (max-width: 375px) {

    /*NavBar Component - mobile */
    .navBar__container-button-list ul .indicator {
        left: 5%;
    }

    .navBar__container-button-list ul .indicator::before {
        width: 16px;
        left: -58%;
    }


}