.academloItems_container {
    border: 2px solid greenyellow;
    width: 316px;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
        "img title"
        "img description";
    place-items: center;
    text-align: center;
    padding: 1rem;
}

.academloItem_img {
    width: 70px;
    height: 70px;
    grid-area: img;
}

.academloItem_img img {
    width: 100%;
    height: 100%;
}

.academloItems_container h3{
    grid-area: title;
    font-size: 1.4rem;
}

.academloItems_container p {
    grid-area: description;
    font-size: 1.2rem;
    text-align: justify;
}

