.career_container {
    border: 2px solid purple;
    width: 98vh;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1.2fr 1fr;
    place-items: center;
}

.academlo_container {
    border: 2px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}

.academlo_title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.academlo_title h2 {
    color: var(--thumb_color);
}

.academlo_card_container {
    width: 344px;
    min-width: 204px;
    height: 30rem;
    display: grid;
    grid-template-areas:
        "card"
        "certificates";
}

.academlo_card {
    grid-area: card;
    width: 340px;
    min-width: 200px;
    height: 100px;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
    border: 0.08em solid var(--color-ligth);
    border-radius: 0.8rem 0.8rem 0 0 ;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
        "logo title"
        "logo button"
        "certificate certificate";
    place-items: center;
}

.academlo_card_logo {
    grid-area: logo;
    width: 70px;
    height: 70px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}

.academlo_card_logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.academlo_card_title {
    grid-area: title;
    padding-top: 1rem;
    margin-right: 12px;
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    background-color: var(--color-ligth);
    background: linear-gradient(120deg, #B4A5A5 30%, lightgrey 38%, lightgrey 40%, #B4A5A5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 3s infinite;
}

@keyframes load89234 {
    100% {
        background-position: -100% 0;
    }
}

.academlo_card_title h3 {
    text-align: center;
    font-size: 1.4rem;
}

.academlo_card_container_button {
    grid-area: button;
    margin-right: 12px;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.academlo_card_button {
    margin-right: 12px;
    width: 70px;
    height: 2.8rem;
    border-radius: 5px;
    border: 2px solid var(--color-black);
    background-color: var(--color-ligth);
}

.academlo_card_button img {
    width: 100%;
    height: 100%;
}

/* modificar rotación del la imagen*/
.academlo_card_button:hover img {
    transform: rotate(180deg);
    transition: 0.6s ease;
}

.active_cert {
    grid-area: certificates;
    width: 340px;
    height: 100%;
    padding: 0.4rem;
    opacity: 1;
    visibility: visible;
    /* transform: translateY(0); */
    transition: all 1s ease;
    border: 0.08em solid var(--color-ligth);
    border-radius: 0 0 0.8rem 0.8rem;
    border-top: none;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    overflow-x: hidden;
}

.close_cert {
    grid-area: certificates;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 1s ease;
    overflow-x: hidden;
}

.active_cert::-webkit-scrollbar,
.close_cert::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--color-black);
    border-radius: 0.8rem;
}

.active_cert::-webkit-scrollbar-thumb,
.close_cert::-webkit-scrollbar-thumb {
    background-color: var(--color-ligth);
    border-radius: 0.8rem;
}


.slider_platzi_container {
    border: 2px solid red;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4px;
}

.platzi_title {
    border: 2px solid royalblue;
    width: 120px;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.platzi_img {
    width: 40px;
    height: 40px;
}

.platzi_img img {
    width: 100%;
    height: 100%;
}

.slider_platzi {
    border: 2px solid lawngreen;
    width: 56rem;
}

.platzi__item {
    border: 2px solid yellow;
    width: 50px;
    height: 120px;
    padding: 6px;
}

.university_card_container {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.university_card {
    border: 2px solid rebeccapurple;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    place-items: center;
    width: 50rem;
    height: 16rem;
}

.university_logo {
    width: 16rem;
    height: 8rem;
    border: 2px solid red;
}

.university_logo img {
    width: 100%;
    height: 100%;
}

.university_list {
    border: 2px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.university_list li {
    font-size: 1.2rem;
}

.university_card li span {
    color:red;
}