.career_container {
    border: 2px solid purple;
    width: 700px;
    height: 100%;
}


.academlo_container {
    border: 2px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.academlo_title {
    font-size: 1.6rem;
}

.academlo_card_container {
    border: 2px solid yellow;
    width: 344px;
    min-width: 204px;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5 2fr;
    grid-template-areas:
        "card"
        "certificates";
}

.academlo_card {
    grid-area: card;
    width: 340px;
    min-width: 200px;
    height: 100px;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--color-black);
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
        "logo title"
        "logo button"
        "certificate certificate";
    place-items: center;
}

.academlo_card_logo {
    grid-area: logo;
    width: 70px;
    height: 70px;
    border: 2px solid red;
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}

.academlo_card_logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.academlo_card_title {
    grid-area: title;
    padding-top: 1rem;
    margin-right: 12px;
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}

@keyframes load89234 {
    100% {
        background-position: -100% 0;
    }
}

.academlo_card_title h3 {
    border: 2px solid blue;
    text-align: center;
    font-size: 1.4rem;
}

.academlo_card_container_button {
    grid-area: button;
    margin-right: 12px;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.academlo_card_button {
    margin-right: 12px;
    width: 70px;
    height: 2.8rem;
    border-radius: 5px;
    border: 2px solid var(--color-black);
    background-color: var(--color-ligth);
}

.academlo_card_button img {
    width: 100%;
    height: 100%;
}

/* modificar rotación del la imagen*/
.academlo_card_button:hover img {
    -webkit-transform: rotate(180deg);
    transition: 0.6s ease-in-out;
}

.active_cert {
    grid-area: certificates;
    width: 340px;
    height: 100%;
    padding: 0.4rem;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 1s ease;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    overflow-x: hidden;
}

.close_cert {
    grid-area: certificates;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 1s ease;
    overflow: hidden;
}

.slider_platzi_container {
    border: 2px solid red;
    background: transparent;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 4px;
}

.platzi_title {
    text-align: center;
    font-size: 1.6rem;
}

.platzi__item {
    border: 2px solid yellow;
    width: 50px;
    height: 120px;
    padding: 6px;
}