.container {
    display: grid;
    grid-template-rows: 1fr 0.4fr;
    place-items: center;
    gap: 12px;
    width: 100%;
    height: 100%;
    padding: 10px;
    /* border: 2px solid purple; */
}

.container_terminal {
    width: 80%;
    height: 24rem;
    /* border: 2px solid red; */
}

.terminal_toolbar {
    width: 100%;
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#504b45 0%, #3c3b37 100%);
}

.butt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}

.btn-color {
    background: #CF0A0A;
    opacity: 0.9;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.user {
    color: #d5d0ce;
    margin-left: 4px;
    font-size: clamp(1.2rem, 1.4rem, 1.6rem);
    line-height: 15px;
}

.terminal_body {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 16px 16px;
    height: calc(100% - 30px);
    padding-top: 2px;
    margin-top: -1px;
    font-size: clamp(1.2rem, 1.4rem, 1.6rem);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0.9;
    /* border: 2px solid blue; */
}

.terminal_promt {
    margin-top: 0.3rem;
    display: flex;
}

.terminal_user {
    color: #7eda28;
    margin-left: 1%;
}

.terminal_location {
    color: #4878c0;
}

.terminal_bling {
    color: #dddddd;
}

.terminal_efect {
    margin-left: 1%;
    color: var( --thumb_color);
}

.terminal_efect span {
    font-size: clamp(1.2rem, 1.4rem, 1.6rem);
    letter-spacing: 0.1rem;
}



.cube {
    color: var(--color-ligth);
    cursor: pointer;
    transition: all 0.85s cubic-bezier(.17, .67, .14, .93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 14em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cube:hover {
    transform: rotateX(-90deg);
}

.side {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 4em;
    width: 14em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.top {
    width: 100%;
    height: 100%;
    /* border: 2px solid var(--color-black); */
    background: var(--color-ligth);
    transform: rotateX(90deg) translate3d(0, 0, 2em);
    box-shadow: inset 0 0 0 5px #fff;
    display: flex;
    justify-content: space-evenly;

}

.icon {
    width:2.6rem;
}

.front {
    /* border: 2px solid var(--color-black); */
    display: flex;
    align-content: center;
    justify-content: center;
    background: var(--color-black);
    color: var(--color-ligth);
    box-shadow: inset 0 0 0 5px var(--thumb_color);
    transform: translate3d(0, 0, 2em);
}

.front img{
    width: 2.6rem;
    margin-right: 1rem;
}

.front span{
    margin-top: 8.4%;
    font-size: 1.4rem;
}

