.navBar__container-mobile {
    display: none;
}

.navBar__container-all {
    position: relative;
    padding: 12px;
    border-bottom: 1px solid var(--color-rgba-border);
    display: flex;
    justify-content: center;
}

.navBar__container-setup{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}


.button__item {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px 0.25em;
    width: 8.8em;
    height: 2.8em;
    background-color: var(--color-black);
    border: 0.08em solid #fff;
    border-radius: 0.3em;
}

.button__item .item {
    position: relative;
    text-decoration-line: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4px;
    width: 100%;
    height: 2.4em;
    background-color: var(--color-black);
    border-radius: 0.2em;
    border: 0.08em solid var(--thumb_color);
    box-shadow: 0 0.4em 0.1em 0.019em var(--track_active_color);
}

.button__item .item:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 var(--track_active_color);
}

.button__item .item:not(hover) {
    transition: all 1s;
}

.button__item .item span {
    font-size: 1.6rem;
    color: var(--color-ligth);
    text-align: center;
    margin: 3px;
    letter-spacing: 0.1rem;
}

.button__item .item img {
    height: 24px;
}


/* tablet */

@media (max-width: 768px) {

    /* NavBar Component - tablet */

    .navBar__container-setup {
        gap: 10px;
    }

    .button__item{
        width: 7.6em;
        margin: 0px;
    }

    .button__item .item span {
        margin: 2px;
        font-size: 1.3rem ;
    }

    .proyects .item span {
        margin: 0px;
        margin-left: 2px;
    }

    .proyects .item img {
        margin: 4px;
    }

    .button__item .item img {
        height: 1.4em;
        margin: 2px;
    }

    .navBar__container-all .switch{
        left: calc(50% + 42%);
    }

}


@media (max-width: 680px) {
    .navBar__container-setup {
        width: 84%;
        margin-right: 1rem;
    }
}


/* mobile */

@media (max-width: 600px) {

    .navBar__container-setup {
        display: none;
    }

    .navBar__container-all {
        border: none;
        border-top: 1px solid var(--color-rgba-border);
        width: 100%;
        height: 100%;
    }

    .navBar__container-all .navBar__container-mobile{
        /* revisar el position */
        display: block;
        /* border: 2px solid blueviolet; */
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .navBar__container-mobile .navBar__container-button-list {
        /* position: relative; */
        width: 90%;
        height: 4.4rem;
        display: flex;
        background: var(--color-black);
        justify-content: center;
        align-items: center;
        border: 2px solid var(--color-ligth);
        border-radius: 0.8rem;
    }

    .navBar__container-button-list ul{
        position: relative;
        display: flex;
        /* justify-content: space-evenly; */
        width: 100%;
         /* border: 2px solid red;  */
    }

    .navBar__container-button-list ul li{
        position: relative;
        /* 7rem */
        width: 100%;
        height: 4rem;
        z-index: 1;
        /* border: 2px solid yellow;   */
    }

    .navBar__container-button-list ul li .item-li{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;
        /* border: 2px solid red;  */
    }

    .navBar__container-button-list li .item-li .icon{
        position: relative;
        bottom: -0.6rem;
        font-size: 1.5rem;
        text-align: center;
        transition: 0.5s;
        color: var(--color-ligth);
        width: 2.4rem;
        height: 2.4rem;
    }

    .navBar__container-button-list ul li.active .item-li .icon{
        transform: translateY(-18px);
    }

    .navBar__container-button-list ul li .item-li .icon img{
        width: 100%;
        height: 100%;
    }

    .navBar__container-button-list ul li .item-li .text{
        position: absolute;
        bottom: -3%;
        color: var(--color-ligth);
        font-weight: 400;
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(22px);
    }

    .navBar__container-button-list ul li.active .item-li .text{
        opacity: 1;
        transform: translateY(10px);
    }

    .navBar__container-button-list ul .indicator {
        position: absolute;
        top: -50%;
        left: 7.8%;
        width: 4rem;
        height: 4rem;
        background: var(--color-black);
        border-radius: 50%;
        border: 0.5rem solid var(--color-ligth);
        /* backdrop-filter: blur(3px); */
        transition: 0.5s;
    }

    .navBar__container-button-list ul .indicator::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -72%;
        width: 21px;
        height: 14px;
        background: transparent;
        border-top-right-radius: 21px;
        box-shadow: 0.3rem -0.2rem 0 0rem var(--color-ligth);
    }

    .navBar__container-button-list ul .indicator::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -74%;
        width: 21px;
        min-width: 12px;
        height: 14px;
        background: transparent;
        border-top-left-radius: 21px;
        box-shadow: -0.3rem -0.2rem 0rem 0rem  var(--color-ligth);
    }

    .navBar__container-button-list .indicator {
        opacity: 0;
    }

    .navBar__container-button-list ul li:nth-child(1).active ~ .indicator {
        opacity: 1;
        left: calc(100% / 4 / 2);
        transform: translateX(-50%);
    }
    .navBar__container-button-list ul li:nth-child(2).active ~ .indicator {
        opacity: 1;
        left: calc(((100% / 4) / 2) * (1 + 2 * 1) );
        transform: translateX(-50%);
    }
    .navBar__container-button-list ul li:nth-child(3).active ~ .indicator {
        opacity: 1;
        left: calc(((100% / 4) / 2) * (1 + 2 * 2) );
        transform: translateX(-50%);
    }
    .navBar__container-button-list ul li:nth-child(4).active ~ .indicator {
        opacity: 1;
        left: calc(((100% / 4) / 2) * (1 + 2 * 3) );
        transform: translateX(-50%);
    }

    .navBar__container-all .switch{
        left: calc(50% + 40%);
        /* bottom: 2.4rem; */
        border-radius: 0.6rem;
    }

}

@media (max-width: 475px) {

    .navBar__container-button-list {
        border: 2px solid;
        margin-right: 2rem;
    }

    .navBar__container-button-list ul .indicator{
        left: 6%;
    }

}

@media (max-width: 375px) {

    .navBar__container-button-list ul .indicator {
        left: 5%;
    }

    .navBar__container-button-list ul .indicator::before {
        width: 16px;
        left: -58%;
    }

}
