.proyects_container{
    border: 2px solid blueviolet;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(autofill, minmax(8rem, 16rem));
    gap: 2rem;
}

.proyects_container_cards {
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 50%;
}
