.container_setup {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.container_setup .container_box {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-rows: 0.2fr 2fr;
    place-items: center;
    height: 90%;
    width: 90%;
    max-width: 80em;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border: 3px solid green;
    border-radius: 20px;
    /* backdrop-filter: blur(1px);  */
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
}

.container_box .box__header{
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
}

.main__card {
    border: 2px solid blue;
    position: absolute;
    z-index: 200;
    grid-row-start: 2;
    grid-row-end: 3;
    /* z-index: 20; */
    opacity: 0.6;
    background-color: #d3d3d3;
    /* background: transparent; */
    width: 90%;
    height: 90%;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__card .one {
    border: 2px solid black;
    opacity: 0.6;
    width: 98%;
    height: 98%;
    padding: 0.4rem;
    background-color: #c0c0c0 ;
    /* background: transparent;  */
    border-radius: 0.8rem;
}

.main__card .two{
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    opacity: 0.8;
    border-radius: 0.8rem;
    transition: 1s;
    transition-delay: 0.2s;
    background-color: #9c9c9c;
}

.main__card .three{
    /* position: absolute;
    z-index: 50; */
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    opacity: 0;
    border-radius: 0.8rem;
    transition: 0.9s;
    transition-delay: 0.2s;
    background-color: #797979;
}

.main__card .four{
    /* position: relative; */
    /* z-index: 60; */
    opacity: 0.8;
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    color: #ececec;
    border-radius: 0.8rem;
    transition: 0.8s;
    transition-delay: 0.2s;
    background-color: #5a5a5a;
}

.main__card .five{
    /* position: relative; */
    /* z-index: 80; */
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    opacity: 0.8;
    color: #ececec;
    border-radius: 0.8rem;
    transition: 0.7s;
    transition-delay: 0.2s;
    background-color: #424242;
}

.main__card .six{
    /* position: relative; */
    /* z-index: 90; */
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    opacity: 0.8;
    color: #ececec;
    border-radius: 0.8rem;
    transition: 0.6s;
    transition-delay: 0.2s;
    background-color: #302f2f;
}

/* https://www.1keydata.com/css-tutorial/z-index.php*/

.main__container {
    position: absolute;
    z-index: 300;
    grid-row-start: 2;
    grid-row-end: 3;
    top: 10%;
    opacity: 1;
    transition: 0.2s;
    border: 2px solid red;
    width: 80%;
    height: 80%;
}

.main__card:hover .two {
    opacity: 0.8;
    transition: 0.4s;
}

.main__card:hover .three{
    opacity: 0.8;
    transition: 0.5s;
}

.main__card:hover .four{
    opacity: 0.8;
    transition: 0.6s;
}

.main__card:hover .five{
    opacity: 0.8;
    transition: 0.7s;
}

.six p{
    border: 2px solid;
    width: 300px;
    height: 200px;
}

.main__card:hover .six{
    opacity: 0.8;
    transition: 0.8s;
}

.main__card:hover .main__container {
    opacity: 1;
    transition-delay: 0.5s;
}


/* Intento de hacer que el .main__container se vea transparente

.main__card:hover .main__container{
    background: transparent;
}

.two:hover ~ .main__container {
    background-color: #9c9c9c;
}

.three:hover ~ .main__container {
    background-color: #797979;
}

.four:hover ~ .main__container {
    background-color: #5a5a5a;
}

.five:hover ~ .main__container {
    background-color: #424242;
}

.six:hover ~ .main__container {
    background-color: #302f2f; /* O el color que desees aplicar a los contenedores one, two, three, four, five, six cuando están en hover 
} */

.main__card:hover p{
    opacity: 0;
}


.main__card p{
    position: absolute;
    opacity: 1;
}

.home__container {
    border: 2px solid yellow;
    padding: 16px;
}

.about__container {
    border: 2px solid green;
}

.proyects__container {
    border: 2px solid red;
    padding: 16px;
}

.contact__container {
    border: 2px solid black;
    padding: 16px;
}

.inactive {
    display: none;
}

/* mobile */

@media (max-width: 600px) {
    .container_setup .container_box{
        grid-template-rows: 2fr 0.2fr;
    }

    .container_box .box__header{
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .container_box .main__card{
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .container_box .main__container{
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

