.container_setup {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.container_all {
    /* border: 2px solid yellow; */
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_setup .container_box {
    position: relative;
    display: grid;
    grid-template-rows: 0.2fr 2fr;
    place-items: center;
    height: 90%;
    width: 90%;
    max-width: 80em;
    max-height: 60em;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    /* backdrop-filter: blur(1px);  */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
}

.container_box .box__header {
    border-radius: 18px 18px 0px 0px;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}

/* Efecto de switch .container_box */
/* desktop */

/* open efect */

.open {
    -webkit-animation: scale-up-tr 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
    animation: scale-up-tr 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
}

@-webkit-keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}


/* close efect */

.close {
    -webkit-animation: scale-up-close 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
    animation: scale-up-close 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
}

@-webkit-keyframes scale-up-close {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-close {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}


/*--------------------------------------------------*/


.main__card {
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--color-rgba-border);
    width: 90%;
    height: 90%;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.main__card .one {
    border: 4px solid var(--color-rgba-border);
    width: 98%;
    height: 98%;
    padding: 0.4rem;
    background-color: #c0c0c0;
    border-radius: 0.8rem;
    opacity: 0.8;
}

.main__card .two {
    border: 1px solid var(--color-rgba-border);
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    border-radius: 0.8rem;
    transition: 1s;
    transition-delay: 0.2s;
    background-color: #9c9c9c;
    opacity: 0;
}

.main__card .three {
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    border-radius: 0.8rem;
    transition: 0.9s;
    transition-delay: 0.2s;
    background-color: #797979;
    opacity: 0;
}

.main__card .four {
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    color: #ececec;
    border-radius: 0.8rem;
    transition: 0.8s;
    transition-delay: 0.2s;
    background-color: #5a5a5a;
    opacity: 0;
}

.main__card .five {
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    color: #ececec;
    border-radius: 0.8rem;
    transition: 0.7s;
    transition-delay: 0.2s;
    background-color: #424242;
    opacity: 0;
}

.main__card .six {
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    color: #ececec;
    border-radius: 0.8rem;
    transition: 0.6s;
    transition-delay: 0.2s;
    background-color: #302f2f;
    opacity: 0;
}

/*--------------------------------------------------*/

/* https://www.1keydata.com/css-tutorial/z-index.php*/

/* .main__container  */

.main__container {
    position: absolute;
    z-index: 300;
    grid-row-start: 2;
    grid-row-end: 3;
    /* top: 10%; */
    opacity: 1;
    transition: 0.2s;
    border: 1px solid var(--thumb_color);
    border-radius: 0.8rem;
    width: 82%;
    height: 77%;
    overflow-x: auto;
}

.main__container::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--color-black);
    border-radius: 0.8rem;
}

.main__container::-webkit-scrollbar-thumb{
    background-color: var(--color-ligth);
    border-radius: 0.8rem;
}


/*--------------------------------------------------*/

/*El :hover va sobre .main__container pero no se aplica */
.main__container:hover ~ .main__card .one {
    opacity: 0.8 ;
    transition: 0.3s;
}

.main__container:hover ~ .main__card .two {
    opacity: 1;
    transition: 0.4s;
}

.main__container:hover ~ .main__card .three {
    opacity: 0.8;
    transition: 0.5s;
}

.main__container:hover ~ .main__card .four {
    opacity: 0.8;
    transition: 0.6s;
}

.main__container:hover ~ .main__card .five {
    opacity: 0.8;
    transition: 0.7s;
}


.six p {
    opacity: 1;
    width: 100%;
    height: 100%;
    /* aquí se modifica el heigth del contenedor */
    min-height: 53.4vh;
}

.main__card:hover .six {
    opacity: 0.8;
    transition: 0.8s;
}


/*--------------------------------------------------*/

.home__container {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100%;
}

.about__container {
    /* border: 2px solid green; */
}

.proyects__container {
    /* border: 2px solid blue; */
}

.contact__container {
    /* border: 2px solid black; */
}

.inactive {
    display: none;
}

/* switch */

.switch {
    /* Variables */
    --switch_width: 2em;
    --switch_height: 1em;
    /* justify-self: center; */
    position: absolute;
    font-size: 1.6rem;
    top: calc(7% + 2.6rem);
    left: calc(50% + 35rem);
    width: 4rem;
    height: 4rem;
    z-index: 100;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.8rem;
    backdrop-filter: blur(4px);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider_nav */
.slider_nav {
    width: var(--switch_width);
    height: var(--switch_height);
    border: 2px solid var(--outline_color);
    position: absolute;
    cursor: pointer;
    top: 24%;
    left: 2%;
    right: 0;
    bottom: 0;
    background-color: var(--track_color);
    transition: .15s;
    border-radius: var(--switch_height);
}

.slider_nav:before {
    position: absolute;
    content: "";
    height: var(--switch_height);
    width: var(--switch_height);
    border: 2px solid var(--outline_color);
    border-radius: 100%;
    left: -2px;
    bottom: -2px;
    background-color: var(--thumb_color);
    transform: translateY(-0.2em);
    box-shadow: 0 0.2em 0 var(--outline_color);
    transition: .15s;
}

input:checked+.slider_nav {
    background-color: var(--track_active_color);
}

input:focus-visible+.slider_nav {
    box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover+.slider_nav:before {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked+.slider_nav:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked+.slider_nav:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}



/* Desktop */
@media (max-width: 1300px) {
    .switch {
        top: calc(7% + 2.4rem);
        left: calc(50% + 34%);
    }
}

/* mobile */

@media (max-width: 600px) {
    .container_all {
        width: 100%;
        height: 100%;
    }

    .container_setup .container_box {
        grid-template-rows: 2fr 0.2fr;
    }

    .container_box .box__header {
        grid-row-start: 2;
        grid-row-end: 3;
        border-radius: 0px 0px 18px 18px;
    }

    .container_box .main__card {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /* Open .container_box effect*/
    .open {
        -webkit-animation: scale-up-br 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
        animation: scale-up-br 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
    }

    @-webkit-keyframes scale-up-br {
        0% {
            -webkit-transform: scale(0.3);
            transform: scale(0.3);
            opacity: 0;
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }

    @keyframes scale-up-br {
        0% {
            -webkit-transform: scale(0.3);
            transform: scale(0.3);
            opacity: 0;
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }

    /* Close .container_box effect*/
    .close {
        -webkit-animation: scale-up-close 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) reverse both;
        animation: scale-up-close 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) reverse both;
    }

    @-webkit-keyframes scale-up-close {
        0% {
            -webkit-transform: scale(0.3);
            transform: scale(0.3);
            opacity: 0;
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }

    @keyframes scale-up-close {
        0% {
            -webkit-transform: scale(0.3);
            transform: scale(0.3);
            opacity: 0;
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }

    .container_box .main__container {
        grid-row-start: 1;
        grid-row-end: 2;
        width: 76%;
        /* height: 77%; */
    }

    .switch {
        top: calc(80% + 2.6rem);
        left: calc(50% + 35.4%);
    }
}

@media (max-width: 475px) {
    .switch {
        left: calc(50% + 34%);
    }
}

@media (max-width: 375px) {
    .switch {
        left: calc(40% + 43.4%);
    }
}