#root {
    --color-green: #9CFF2E;
    --color-black: #151515;
    --color-purple: #3E065F;
    --color-purple-medium: #301B3F;
    --color-purple-dark: #2A2438;
    --color-grey: #3C415C;
    --color-ligth: #B4A5A5;
    --color-background-rgba: rgba(255, 255, 255, 0.2);
    --color-rgba-border: rgba(255, 255, 255, 0.3);
    --color-input: rgba(255, 0, 255, 0.1);

    --thumb_color: #e8e8e8;
    --track_color: #e8e8e8;
    --track_active_color: #8f8f8f;
    --outline_color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}